/* resets */
body,
h1,
h2,
h3,
p {
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fafc;
}
a {
  text-decoration: none;
  color: #69696a;
}
ul {
  list-style: none;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
header h1 {
  width: 250px;
}
.header-nav-list {
  margin-bottom: 20px;
}
.button {
  display: block;
  color: #fff;
  background-color: #000;
  width: 90%;
  padding: 30px;
  margin: 30px;
  border-radius: 30px;
  text-align: center;
  box-sizing: border-box;
}

.description {
  border: 5px hidden #69696a;
  border-left: solid;
  margin-left: 10px;
  padding-left: 10px;
}
footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  left: 0;
  bottom: 0;
  position: fixed;
  background-color: rgba(247, 193, 162, 0.7);
  align-items: center;
}
footer p {
  width: 120px;
  height: 18px;
  padding-left: 10px;
}
.footer-nav-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.footer-nav-list li {
  padding: 5px;
}

@media only screen and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 15%;
  }
  header h1 {
    justify-content: left;
  }
  header nav {
    justify-content: right;
    width: 40%;
  }
  .header-nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    right: 0;
    /* margin-right: 60px; */
  }
  .header-nav-list li {
    margin: 10px;
    width: 60px;
  }
  header .button {
    width: 100px;
    padding: 15px;
    margin: 0;
  }
  .circle-container {
    position: relative;
    flex: 1;
  }
  .circle {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
    right: 0;
  }
  .small {
    height: 125px;
    width: 125px;
    background-color: rgba(207, 130, 213, 0.6);
    top: 20px;
    right: 30px;
  }
  .medium {
    height: 175px;
    width: 175px;
    background-color: rgba(247, 193, 162, 0.7);
    right: 10px;
    top: 100px;
  }
  .large {
    height: 200px;
    width: 200px;
    background-color: rgba(247, 136, 167, 0.6);
    right: 100px;
  }
  main .button {
    width: 50%;
  }
  .description {
    width: 50%;
  }
}
